<html>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Setup your Personal Trainer Profile</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" style="text-align:center;">

			<h1>Upload your Trainer picture</h1>
			<p>

			</p>
			{% if filename %}
			<!-- Image card -->
				<style>
				.demo-card-image.mdl-card {
				  width: 256px;
				  height: 256px;
				  background: url('../assets/demos/image_card.jpg') center / cover;
				}
				.demo-card-image > .mdl-card__actions {
				  height: 52px;
				  padding: 16px;
				  background: rgba(0, 0, 0, 0.2);
				}
				.demo-card-image__filename {
				  color: #fff;
				  font-size: 14px;
				  font-weight: 500;
				}
				</style>


				<div>
					<img src="{{ url_for('display_image', filename=filename) }}" style="max-height: 400px;box-shadow: 5px 5px  5px #888888;">
				</div>
			{% endif %}

			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<ul class=flashes>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
				{% endif %}
			{% endwith %}
			
			<form method="post" action="/" enctype="multipart/form-data">
				<div style="display: inline-block">
					<dl>
						<input type="file" name="file" autocomplete="off" required>
					</dl>
				</div>
				<div style="display: inline-block">
   				<input type="submit" value="Submit">
				</div>


			</form>
		</div>
  </main>
</div>

</html>
