<html>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" style="background-color:#ebebeb">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Setup your Personal Trainer Profile</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">

    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" style="text-align:center;">

			<h1>Upload your Trainer picture</h1>
			<p>

			</p>
			{% if filename %}

				<div>
					<img src="{{ url_for('display_image', filename=filename) }}" style="max-height: 400px;box-shadow: 5px 5px  5px #888888;">
				</div>

      {% endif %}

        <div style=" margin: auto;width: 50%;">
          <form method="post" action="/" enctype="multipart/form-data">
    				<div style="display: inline-block">
    					<dl>
    						<input type="file" name="file" autocomplete="off" required>
    					</dl>
    				</div>
    				<div style="display: inline-block">
       				<input type="submit" value="Submit">
    				</div>
    			</form>
      </div>

      <div style="background-color:white;box-shadow: 5px 5px  5px #888888;max-width:600px; margin: auto;width: 50%;">


  			{% with messages = get_flashed_messages(with_categories=true) %}
  				{% if messages %}
  				<p class=flashes>
            <style>
            .demo-list-icon {
              width: 300px;
            }
            .alert-information{
              color: green;

            }
            .alert-warning{
              color: orange;

            }
            .alert-error{
              color: red;
            }
            </style>

            <ul class="demo-list-icon mdl-list">


            </ul>
  				{% for message in messages %}




              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon ">
                  <div class="alert-{{message[0]}}">{{ message[0]}}</div>
                </i>

                <div class="alert-{{message[0]}}" style="text-align:left;">
                  {{ message[1] }}
                </div>
                </span>
              </li>


  				{% endfor %}
        </p>
  				{% endif %}
  			{% endwith %}
    </div>


		</div>
  </main>
</div>

</html>
